{% extends "layout.j2" %}

{% block style %}
<style>
.table > tbody > tr > td {
  vertical-align: middle;
}
.dashlinks::placeholder {
  color: rgb(180, 180, 180);
}
</style>
{% endblock %}

{% block body %}
<div class="container-fluid">
  <div class="table-responsive">
    <table class="table table-striped table-dark table-sm table-bordered text-nowrap">
      <thead>
        <tr>
          <th>Number</th>
          <th colspan="2" style="text-align:center;">Duration</th>
          <th colspan="2" style="text-align:center;">Start of Run</th>
          <th colspan="2" style="text-align:center;">End of Run</th>
          <th>Partition</th>
          <th>Pbeast Links</th>
        </tr>
        <tr style="color:rgb(90, 90, 90);">
        <th></th>
        <th>seconds</th>
        <th>hh:mm:ss</th>
        <th>timestamp</th>
        <th>epoch seconds</th>
        <th>timestamp</th>
        <th>epoch seconds</th>
        <th></th>
        <th></th>
        </tr>
      </thead>
      <tbody id="runs">
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
  var dashboards = {};
  getDashboardList();

  function getDashboardList() {
    $.getJSON('https://atlasop.cern.ch/tdaq/pbeastDashboard/api/search?query=',
        function(data) {
          for (var d in data) {
            dashboards[d] = {title: data[d].title, uri: data[d].uri};
          }
        }).fail(function(data) {
          $("#searchfeedbackmessage").html("<span class=\"badge badge-danger\">Error: could not retrieve dashboard list from Grafana</span>");
        });
  }

  function convertSecondstoHoursMinutesSeconds(sec) {
    var hours = Math.floor(sec/3600);
    (hours >= 1) ? sec = sec - (hours*3600) : hours = '00';
    var min = Math.floor(sec/60);
    (min >= 1) ? sec = sec - (min*60) : min = '00';
    (sec < 1) ? sec='00' : void 0;

    (min.toString().length == 1) ? min = '0'+min : void 0;
    (sec.toString().length == 1) ? sec = '0'+sec : void 0;

    return hours+':'+min+':'+sec;
  }

  function generate_run(run) {
    html = '<tr><td class="align-middle">'
        + run.run_number + "</td><td>"
        + (run.eor == null ? 'ongoing' : (run.eor - run.sor)) + "</td><td>"
        + (run.eor == null ? 'ongoing' : convertSecondstoHoursMinutesSeconds(run.eor - run.sor)) + "</td><td>"
        + (new Date(run.sor * 1000)).toLocaleString('en-GB', {timeZone: 'Europe/Zurich'}) + "</td><td>"
        + run.sor + "</td><td>"
        + ((run.eor == null) ? 'ongoing' : (new Date(run.eor * 1000)).toLocaleString('en-GB', {timeZone: 'Europe/Zurich'})) + "</td><td>"
        + ((run.eor == null) ? 'ongoing' : run.eor) + "</td><td>"
        + run.partition + '</td><td class="m-0 p-0 dashlinks-container" style="text-align:center;">'
        + '<input type="text" class="m-0 btn btn-secondary btn-sm dashlinks" placeholder="Dashboards" '
        +   'id="dashlinks' + run.run_number + '">'
        + "</td></tr>";

    return html;
  }

  function searchform_callback(data) {
    for (var i = 0; i < data.runs.length; ++i) {
      run = data.runs[i];
      $("#runs").prepend(generate_run(run));

      var autocomplete_source = [];
      for (var did in dashboards) {
        autocomplete_source.push({
          label: dashboards[did].title,
          value: 'https://atlasop.cern.ch/tdaq/pbeastDashboard/dashboard/'
              + dashboards[did].uri + '?from='
              + run.sor * 1000
              + ((run.eor != null) ? ('&to=' + (run.eor * 1000)) : '')
              + '&var-partition=' + run.partition
        });
      }

      $("#dashlinks" + run.run_number).autocomplete({
        source: autocomplete_source,
        minLength: 0,
        select: function(event, ui) {
          window.open(ui.item.value);
          this.blur(); // lose focus, otherwise the menu reopens
          return false; // to prevent the input value to be updated after this
        },
        position: {my : "right top", at: "right bottom"}
      }).focus(function() {
        $(this).autocomplete("search", $(this).val());
      });
    }
  }
</script>
{% endblock %}
