<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WebRunSearch</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />

    <!-- Styles for Jquery UI -->
    <link href="{{ url_for('static', filename='css/jquery-ui.min.css') }}" rel="stylesheet" />

    <!-- Styles for Pikaday widget -->
    <link href="{{ url_for('static', filename='datepicker/pickmeup.css') }}" rel="stylesheet" />

    <!-- Font for symbols -->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <style>
      body, html {
        width: 100%; height: 100%; margin: 0; padding: 0;
        background-color: rgb(41, 41, 41);
      }
      .wrs-navbar {
        position: absolute;top: 0; left: 0; right: 0; height: 65px;
        background-color: rgb(41, 41, 41);
        border-bottom: 5px dashed rgb(20, 20, 20);
      }
      .wrs-main {position: absolute; top: 65px; left: 0; right: 0; bottom: 0;}
      .ui-autocomplete {
        z-index:2000 !important;
        max-height: 200px;
        overflow-y: scroll;
        overflow-x: hidden;
      }
      .ui-autocomplete-loading {
        background-color: #ffffff;
        background-image: url("{{ url_for('static', filename='loading.16.gif') }}");
        background-size: 16px 16px;
        background-position:right center;
        background-repeat: no-repeat;
      }
      .pickmeup {
        z-index:1999 !important;
      }
    </style>

{% block style %}{% endblock %}
  </head>

  <body>

  <div class="wrs-navbar">
    <table style="height: 100%; color: white;">
      <tbody>
        <tr>
          <td class="align-middle">
            <img src="{{ url_for('static', filename='atlas-logo-64-trans.png') }}"
                style="height:50px; width:50px;" class="mr-1 mr-lg-1">
          </td>
          <td class="align-middle" align="center" style="white-space:nowrap;">
            <span class="ml-2 mr-5" style="color: rgb(227, 227, 227);" id="datetime"></span>
          </td>
          <td class="align-middle" style="width:100%;white-space:nowrap;">
            <form class="mx-0 mx-lg-2 form-inline float-right" id="searchrunform">
              <input type="checkbox" value="atlasonly" id="searchrunatlasonly"
                  class="mr-0 mr-lg-0 form-check-input form-control-sm" checked>
              <label class="mx-0 mx-lg-1 form-check-label form-control-sm"
                  for="searchrunatlasonly">ATLAS partition only</label>
              <button class="btn btn-default mx-0 mx-lg-1 form-control-sm" id="calendarbutton" type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
              <input type="text" class="mx-0 mx-lg-1 form-control-sm" placeholder="Run Number / Date" id="searchrunfield">
              <button type="submit" class="btn btn-default form-control-sm">Search</button>
            </form>
            <!-- goes before the form because of float-right -->
            <span class="float-right" id="searchfeedbackmessage"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

    <div class="wrs-main">
{% block body %}{% endblock %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery-ui-1.12.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='datepicker/pickmeup.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <script type="text/javascript">
    // Datepicker
    pickmeup("#calendarbutton", {
      format: 'Ymd',
      hide_on_select: true,
      first_day: 1,
      default_date: false,
    });
    document.getElementById("calendarbutton").addEventListener('pickmeup-change', function (e) {
      document.getElementById("searchrunfield").value = 'date ' + e.detail.formatted_date;
      $('#searchrunform').submit();
    })

    $(function() {
      // Set autocomplete for search field
      $("#searchrunfield").autocomplete({
        source: function(request, response) {
          // do not request if it does not look like a run number
          if (isNaN(parseInt(request.term))) {
            response([]);
            return;
          }
          $.getJSON('/autocompleterunsearch',
              {q: request.term,
                  atlasonly: $("#searchrunatlasonly").is(':checked') ? true : false },
              function(data) {
            response(data);
          }).fail(function(data) {
            // Documentation to always call response to update the plugin state
            response([]);
          });
        },
        minLength: 3,
        select: function(event, ui) {
          $(this).val(ui.item.value);
          $('#searchrunform').submit();
          return false; // to prevent the input value to be updated after this
        },
        position: {my : "right top", at: "right bottom"}
      } );
    } );

    $('#searchrunform').submit(function(e) {
      $("#searchfeedbackmessage").html("");
      $.getJSON('/searchrun', {query: $("#searchrunfield").val(),
            atlasonly: $("#searchrunatlasonly").is(':checked') ? true : false}, function(data) {
        if (data.status == "success") {
          if (data.runs.length > 1) {
            $("#searchfeedbackmessage").html("<span class=\"badge badge-warning\">Found several runs</span>");

            sug = [];
            // display from more recent to oldest
            for (var i = data.runs.length - 1; i >= 0; --i) {
              sug.push({label: '' + data.runs[i].run_number + ': '
                  + (new Date(data.runs[i].sor * 1000)).toLocaleString('en-GB', {timeZone: 'Europe/Zurich'})
                  + ', ' + data.runs[i].partition,
                  value: '' + data.runs[i].run_number});
            }

            $("#searchrunfield").autocomplete("instance")._suggest(sug);

          } else {
            //$("#searchfeedbackmessage").html("<span class=\"badge badge-success\">Run "+data.runs[0].run_number+"</span>");
            searchform_callback(data); // to be defined in each template extending this one
          }
        } else {
          $("#searchfeedbackmessage").html("<span class=\"badge badge-warning\">"+data.message+"</span>");
        }
      }).fail(function() {
        $("#searchfeedbackmessage").html("<span class=\"badge badge-danger\">Error: connection or server</span>");
      });
      return false;
    });

    $('#datetime').html((new Date()).toLocaleString('en-GB', {timeZone: 'Europe/Zurich'}));
    </script>

{% block script %}{% endblock %}

  </body>
</html>
