{% extends "layout.j2" %}

{% block style %}
<style>
.wrs-main iframe {display: block; width: 100%; height: 100%; border: none;}
</style>
{% endblock %}

{% block body %}
<iframe class="" id="pbeastiframe" name="pbeastframe"
    src="https://atlasop.cern.ch/tdaq/pbeastDashboard/"
    >
</iframe>
{% endblock %}

{% block script %}
<script type="text/javascript">
  {# callback for search run field #}
  function searchform_callback(data) {
    {# This page only handles one run at a time so we only take the first one #}
    run = data.runs[0];
    run_number = run.run_number;
    partition = run.partition;

    console.log(document.getElementById("pbeastiframe"));
    console.log(document.getElementById("pbeastiframe").contentWindow);
    console.log(document.getElementById("pbeastiframe").contentWindow.location);
    console.log(document.getElementById("pbeastiframe").contentWindow.location.href);
    current_url = document.getElementById("pbeastiframe").contentWindow.location.href;
    console.log('current url: ' + current_url);
    new_url = current_url.replace(/from=[0-9]+/, '').replace(/to=[0-9]+/, '');

    if (new_url.search(/\?/)) {
      new_url += '&';
    } else {
      new_url += '?';
    }
    new_url += 'from=' + (run.sor * 1000);

    if (run.eor != null) {
      new_url = new_url.replace(/refresh=[0-9]+./, 'refresh=100000s');
      new_url += '&to=' + run.eor * 1000;
    } else {
      new_url = new_url.replace(/refresh=[0-9]+./, '');
    }
    //console.log('new url: ' + new_url);

    $('#pbeastiframe').attr('src', new_url);
  }
</script>
{% endblock %}
